*{
    outline: none;
}

a{
    margin-bottom: 10px;
}
.card{
    width: 250px;
    height: 350px;
    border: 1px solid rgb(61, 62, 107);
    margin: 30px;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 .card .name{
     font-weight: bold;
     text-transform: uppercase;     
     margin-bottom: 20px;
 }
 .card .cost{
     margin: 20px 0;
 }
 .card .addToCart{
    background: rgb(99, 144, 241);
    color: white;
    padding: 10px 20px;
    border: none;
 }
 .card .addToCart:hover{
    background: rgb(61, 62, 107);
    cursor: pointer;
 }
 .card .addToCart:active{
    background: rgb(240, 18, 55);
 }

 .goods::after{
     content: "";
     display: block;
     clear: both;
 }
img{
    height: 150px;
    width: auto;
}

.shoppingCart img{
    height: 50px;
    width: auto;
    margin: 10px;
}
.shoppingCart span{
    margin: 10px;
}
.shoppingCart p{
    display: flex;
    align-items: center;
}